<h2>Flickr Client</h2>

<%= form_with method: :get do |form| %>
  <%= form.label :flickr_id, "Flickr ID" %>
  <%= form.text_field :flickr_id %>
<% end %>

<% if @photos.any? %>

  <div class="container">
    <% @photos.each do |photo| %>
      <div class="item">
        <img src="<%= photo %>" alt="">
      </div>
    <% end %>
  </div>

<% end %>
